/* 預設樣式 */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.row {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start; /* 改為靠左排列 */
  flex-wrap: wrap;
}

.select-btn {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.select-btn.selected {
  background-color: red;
  color: white;
  border-color: darkred;
}

.img-btn {
  width: 120px; /* 調整圖片按鈕大小 */
  height: 120px; /* 調整圖片按鈕大小 */
  object-fit: contain;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 2px; /* 調整 margin */
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.img-btn.selected {
  background-color: red;
  border-color: darkred;
}

.img-btn:hover {
  transform: scale(1.05);
}

.confirm-btn {
  width: 60px;
  height: 60px;
  font-size: 60px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-btn:hover {
  background-color: #dcdcdc;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: left; /* 修改為左對齊 */
  color: #333;
}

/* Tab 按鈕樣式 */
.tab-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  background-color: #e0e0e0;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-btn:hover {
  background-color: #c0c0c0;
}

.tab-btn.active {
  background-color: #82b7fc;
  color: white;
  border-color: #271750;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
